<div class="error-container">

  <h2>Risorsa non disponibile</h2>	
  <div>
    <p>La pagina cercata non è disponibile.</p>
    <p>Premere il pulsante Home per tornare alla homepage.</p>
    <p>Se il problema persiste contattare il supporto tecnico.</p>
  </div>
  
  <div align="center" style="margin:20px 0">
    <a class="button button-grey" href="/admin">Home</a>
  </div>

</div>