<div class="error-container">

  <h2>Errore server</h2>	
  <div>
    <p>Si è verificato un errore durante il caricamento della pagina.</p>
    <p>Premere il pulsante Home per tornare alla homepage.</p>
    <p>Se il problema persiste contattare il supporto tecnico.</p>
  </div>
  
  <div align="center" style="margin:20px 0">
    <a class="button button-grey" href="/">Home</a>
  </div>

</div>