<div id="view-create" class="container" v-cloak>
    
    <ajax-form action="save" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData"
        :form-rules="formRules" :form-errors.sync="formErrors" :cat-parent-id="catParentId" 
        :tbw-editor-id="'tbweditor'" :tbw-editor-field="'description'"
        @submitted="submittedForm($event)" @rejected="rejectedForm($event)">
        <div class="form-group">
            <label :class="[formErrors.name ? 'text-danger' : '']">
                Nome
            </label>
            <input type="text" name="name" class="form-control" :class="[formErrors.name ? 'is-invalid' : '']" 
                v-model="formData.name" maxlength="150" id="name" />
            <cloud-error v-if="cloudError === 'nameFail'">Nome non valido</cloud-error>
            <cloud-error v-if="formErrors.name === 'required'">Campo obbligatorio</cloud-error>
            <cloud-error v-if="formErrors.name === 'maxLength'">Il campo può contenere al max. 150 caratteri</cloud-error>
        </div>

        <div class="form-group">
            <label :class="[formErrors.description ? 'text-danger' : '']">
                Descrizione
            </label>
            <textarea name="description" class="form-control" 
                v-model="formData.description" id="tbweditor" rows="8"></textarea>
            <cloud-error v-if="cloudError === 'descriptionFail'">Descrizione non valida</cloud-error>
            <cloud-error v-if="formErrors.description === 'required'">Campo obbligatorio</cloud-error>
        </div>

        <div class="form-group">
            <label :class="[formErrors.parent_id ? 'text-danger' : '']">
                Collega ad una categoria
            </label>
            <select name="parent_id" ref="catParentId" class="form-control" :class="[formErrors.parent_id ? 'is-invalid' : '']" 
                id="parent_id" v-on:change="selectOption()">
                <option value=""></option>
                <% categories.forEach(element => { %>
                    <option value="<%= element.id %>"  
                        <% if ( element.id == item.parent_id ) { %> selected <% } %> >
                        <%= element.name %>
                    </option>
                <% }) %>                
            </select>
            <cloud-error v-if="cloudError === 'parentIdFail'">Categoria selezionata non valida</cloud-error>
        </div>
        
        <div class="row justify-content-center">

            <div class="col-1">
                <button type="button" class="btn btn-primary" onclick="window.location = '/category/list';">Indietro</button>
            </div>
            <div class="col-1">
                <ajax-button type="submit" :syncing="syncing">Salva</ajax-button>
            </div>

        </div>                 
    
    </ajax-form>

</div>

<script src="/js/cloud.setup.js"></script>
<script src="/js/components/ajax-button.component.js"></script>
<script src="/js/components/ajax-form.component.js"></script>
<script src="/js/components/cloud-error.component.js"></script>
<script src="/js/pages/category/view-create.page.js"></script>
