<div id="view-list" v-cloak>    

    <modal-editor action="updateDescription" :syncing.sync="syncing" :form-message.sync="formMessage" 
        :required="required" :item="item" :field="'description'">
        <div slot="header">
            Modifica descrizione
        </div>
    </modal-editor>
    
    <modal-delete :item-id="deleteItemId" :action="'/category/delete/'">
        <div slot="body">
            <p>Stai per eliminare una categoria. Le eventuali sottocategorie ad essa connessa saranno spostate sotto la categoria Home</p>
            <p>Vuoi proseguire?</p>
        </div>
    </modal-delete>

    <div class="container-fluid">

    <flash-message v-if="flashMessage" :message="flashMessage.message" :type="flashMessage.type"></flash-message>

    <div class="container-fluid row" style="margin:30px 0">            

        <div class="col-3">
            <a class="btn btn-success" href="/category/add">Nuova categoria</a>
        </div>
        <div class="col-7">
            <input type="text" class="form-control" placeholder="filtra risultati" v-model="search">
        </div>
        
    </div>    

<%  if ( items.length == 0 ) { %>
    
    <%- partial('../../partials/no-result.ejs' , {message: "Non sono state ancora inserite delle categorie. Utilizza il bottone Nuova categoria per iniziare."}) %>
    
<% } else { %>    

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="30%">Nome</th>
                <th width="40%">Descrizione</th>
                <th style="text-align: center" width="10%">Pubblicato</th>
                <th width="15"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in filteredItems">
                <td>{{ item.id }}</td>
                <td v-if="item.parent_id === null">{{ item.name }}</td>
                <td v-if="item.parent_id" style="padding-left: 40px;">
                    <i class="bi bi-arrow-return-right"></i>
                    {{ item.name }}                   
                </td>
                <td v-if="item.id > 1" @click="openModalEditor(item, 'description')" class="text-highlight">
                    <text-truncate :text="item.description"></text-truncate>                    
                </td>
                <td v-if="item.id == 1" >{{item.description}}</td>
                <td align="center" class="">  
                    <i @click="publishCategory(item)" class="bi cursor-pointer"
                    :class="[ item.published == 1 ? 'bi-check-circle-fill text-success' : 'bi-x-circle-fill text-danger']">                      
                </i>                                 
                </td>
                <td align="center">
                    <a v-if="item.id > 1" class="btn btn-primary" :href="'/category/edit/' + item.id">Modifica</a>                    
                    <button v-if="item.id > 1" type="button" class="btn btn-danger confirm-delete" @click="setDeleteItemId(item.id)" 
                        data-toggle="modal" data-target="#confirmDeleteModal">
                        Elimina
                    </button>                    
                </td>                                                
            </tr>
        </tbody> 
    </table>        

<% } %>

    </div>    

</div>

<script src="/js/cloud.setup.js"></script>
<script src="/js/components/modal-editor.component.js"></script>
<script src="/js/components/modal-delete.component.js"></script>
<script src="/js/components/flash-message.component.js"></script>
<script src="/js/components/text-truncate.component.js"></script>
<script src="/js/pages/view-list.page.js"></script>



