.container {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.coords {
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
}

.card-link {
  font-size: 1.5em;
}

.home {
  color:red;
}

.logo {
    display: block;
    margin: 0 auto;
	padding-bottom:15%;
}

/*
.menu {
  padding: 20px;
  margin: 0px;
  border: 1px solid;
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: #6ab187;
}
*/
.menu {
  padding: 20px;
  margin: 0px;
  border: 1px solid;
  text-align: center;
  font-size: 1em;
  color: red;
  background-color: white;
}

.titolo {
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
  color: red;
  font-family: 'Montserrat', sans-serif;
}

.parentlink {
	color: red;
}

.fondo {
  padding: 5px;
  margin: 1px;
  text-align: center;
  font-size: 1em;
  color: White;
  background-color: lightgrey;
}

.glossary {
  color: blue;
  font-weight: bold;
}

body {
  margin-bottom: 50px;
  margin-top: 10px;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    /* margin: 2em; */
    line-height: 1.5;
    font-weight: 500;
}

