.container {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.coords {
  font-style: italic;
  text-align: center;
}

.home {
	color:white;
}

.menu {
  padding: 20px;
  margin: 0px;
  border: 1px solid;
  /* border-radius: 15px; */
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: #6ab187;
}

.titolo {
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size: 2em;
  color: Red;
}

.fondo {
  padding: 5px;
  margin: 1px;
  text-align: center;
  font-size: 1em;
  color: White;
  background-color: lightgrey;
}

body {
  margin-bottom: 50px;
  margin-top: 10px;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    /* margin: 2em; */
    line-height: 1.5;
    font-weight: 500;
}

