<div class="container">
  <div class="row">
    <% for(var i = 0; i< items.length; i++){ %>
      <div class="col menu">
        <a href="/category/<%= items[i].id %>">
          <i class="fas fa-user-graduate fa-3x" ></i>
          <br><%= items[i].name %>
        </a>
      </div>

      <% if(i % 2 == 1) { %>
        <div class="w-100"></div>
      <% } %>
    <% } %>
  </div>
</div>
  
