@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Montserrat:wght@400;700&display=swap');
html, body{
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#app {
  font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.header{
  background-color: #e4252a;
}

.header:hover{
    cursor: pointer;
}

.logo{
  margin: 0 auto;
  height: 150px;
  width: auto;
}

#wrapper {
    min-height: calc(100% - 80px);
    height: auto !important;
}

.container {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.main-container {
  position: relative;
  min-height: 100% !important;
  height: auto !important;  
}

.footer {    
    clear: both;
    position: relative;
    height: 80px;
    background-color: #f44336;    
}

.footer .info {
    color: #FFFFFF;
    margin: 6px 0 4px 0;
    font-size: 0.9em;
}

.footer a , .footer span {
    font-size: 1em;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}

.caption {
  font-style: italic;  
  font-size: 0.8rem;
  display: block;
  margin: 5px 0 15px 0;
  overflow-wrap: break-word;
  text-decoration: underline;  
}

.caption:hover{
    cursor: pointer;
}

.home-icon-box {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f44336;
  background-color: #FFFFFF;
  width: 70%;
  margin-bottom: 2em;
  height: 160px;
}

.home-icon-box i {
  color: #f44336;
}

.home-icon-box p {
  color: #f44336;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

.titolo {
  padding: 5px;
  margin: 5px;
  font-size: 1.7em;
  /*color: #d32f2f;*/
  color: #f44336;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.category-name{
    font-size: 1.1em;
    padding: 0 15px;
    text-decoration: underline;
    color: #1565c0;
    margin-top: 10px;
    cursor: pointer;
}

.livello {
    font-size: 1.1em;
}
  
.livello-facile {
    color: #43a047;
}

.livello-intermedio {
    color: #ff6f00;
}

.livello-difficile {
    color: #e53935;
}

.intro-text{
  font-size: 1.2em;
  padding: 0 15px;
  font-style: italic;
  color: #78909c;
}

.glossary {
  color: #1565c0;
  font-weight: bold;
  text-decoration: underline;
}

.glossary:hover{
    cursor: pointer;
}

.card {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
  cursor: pointer;
}

.card-img-top{  
  height: auto;
  max-height: 150px;
  object-fit: cover;
}

.card-img-mini {
    height: auto;
    max-width: 120px;
    object-fit: cover;
}

.card-img-top-none{
  height: 100px;
  width: 100%;
  background-color: #EDEDED;
}

.card-body{
  padding: 0;
}

.card-title {
  color: #FFFFFF;
  font-family: Montserrat;
  background-color: #f44336;
  padding: 12px 8px;
  font-size: 1.15rem;
}

.card-text-truncate , .card-text-truncate p , .card-text-truncate div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-link {
  font-size: 1.5em;
}

.box-place-img {
  float:left;
  max-width: 300px;
  margin-right: 10px;  
}

.place-container-img {
    position: relative;
    max-width: 300px;    
}

.map-icon {
  position:absolute; 
  bottom:5px; 
  right: 5px;
}

.map-icon i {
  color:#b71c1c; 
  background-color:#DDDDDD99; 
  padding:10px 15px; 
  border-radius:50%;
  font-size: 2rem;
}

.place-img {
  height: auto;
  max-height: 250px;
  object-fit: cover;
  padding: 0;
  width: 100%;
}

.place-content {
  background-color: #FFF;
}

.box-related {
    cursor: pointer;
    font-size: 1.2rem;
}

.box-related ul{
    width: 100%;
}

.box-related ul li:first-child{
    padding-bottom: 0px;
}

.box-related-img {
    float:left; 
    width:120px;
}

.box-related-entry{
    float:left; 
    width:calc(100% - 120px);
    box-sizing: border-box;
    padding-left: 5px;
}

.box-related-entry-level {
    font-size: 0.9rem;
}

.box-tags {
  border: 1px solid #42a5f5;
  background-color: #bbdefb;
  padding: 15px 20px;
}

.box-tags h5 {
  font-size: 1.2em;
  color: #0d47a1;
}

.box-tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing:content-box;
}

.box-tags ul li{
  display: inline-block;
  padding-left: 7px;
  color:#1565c0;
  cursor: pointer;
}

.youvideo{
  width: 540px;
  height: 350px;
}

.vocaroo {
  width: 540px;
  height: 70px;
}

.box-block{
  border: 1px solid #ffb300;
  border-radius: 5px;
  position: relative;
  padding-bottom: 25px;
  width: 100%;
  background-color: #FFF;
}

.box-block h5 {
  font-size: 1.4rem;
  color: #ff6f00;
  background-color: #ffe082;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.box-block-body {
  padding: 15px 20px;
}

.box-block-body ul {
  list-style: none;
  padding: 0 10px;
}

.quiz-question {
  font-size: 1.3rem;
  color: #ad1457;
}

.quiz-answer {
  font-size: 1.2rem;
  color: #c2185b;
  position:relative;
}

.quiz-answer:hover {
  cursor: pointer;
}

.quiz-response-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  opacity: 0;
}

.quiz-response-animation {  
  animation: showresponse 2s;
  animation-direction: alternate-reverse;
}

.quiz-response span {
  margin-left: 10px;
  vertical-align: middle;
}

.quiz-response-error {
  color: #b71c1c;
}

.quiz-response-error-bg {
  background-color: #b71c1c66;
}

.quiz-response-success {
  color: #43a047;
}

.quiz-response-success-bg {
  background-color: #43a04766;
}

@keyframes showresponse {
  from { opacity: 0;}
  to { opacity: 1;}
}

.box-feedback {
    background-color: #FFF;
    border-radius: 0.25rem;
    padding: 10px 20px 20px 20px;
    border:1px solid rgba(0, 0, 0, 0.125);
}

.box-feedback div.col-12 {
    padding: 0;
}

.box-feedback i {
    color: #ffe082;    
    font-size: 2rem;
}

.box-feedback i:hover {
    cursor: pointer;
}

.box-feedback h5 {
    display: inline-block;
    font-size: 1.4rem;
}

.box-feedback #stars {
    display: inline-block;
    margin-left: 10px;  
}

.box-feedback #box-textarea {
    display: none;
    margin-top: 15px;
}

.box-btn-rate {
    text-align: right;
    margin-bottom: 15px;
}

.btn-rate {
    background-color: #4caf50;
    width: 100px;    
    color: #FFF;
    margin: 0 auto;  
}

.box-info-rate {
    font-size: 0.9rem;
    margin: 5px 0;    
}

.box-sentform-rate{
    margin: 15px auto 0 auto;
    display: none;
}

.box-feedback .box-sentform-rate p {
    padding:0;
    margin:0;
}

.box-feedback .box-sentform-rate i{
    cursor: default;
    color: #43a047;
    font-size: 3em;
    margin-bottom: 10px;
}

.box-feedback .box-sentform-rate p{
    font-size: 1.1em;
}

/** Cookie GDPR **/
#cookie-gdpr {    
    background: #222222DD; 
    width: 100%;
    height: auto; 
    line-height: 24px;  	
    padding: 8px;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    z-index: 1000;
    font-size: 1rem;
}

#cookie-gdpr p {
    color: #FFF;
    padding: 0 8px;    
}

#cookie-gdpr a {
    color: #FFFFFFDD;
    text-decoration: underline;
    font-size: 1.1em;
    cursor: pointer;
}

/* Toolbar */
.toolbar{    
  height: 50px;
  border-bottom: 2px solid #56423E;
  /*background-color: #FFF;*/
}

.toolbar .titolo{
    color: #56423E;
    font-size: 1.6em;
    font-weight: 400;
    margin: 8px 0 7px 0;
    padding: 0;
}

.toolbar .titolo:hover {
  cursor: pointer;
}

.toolbar i {
  float: left;
  color: #56423E;
  margin: 15px 10px 15px 0;
  font-size:  1.4em;
  cursor: pointer;
}

.resp-menu-btn{
    float: left;
    margin: 12px 20px 12px 10px;
}
  
.resp-menu-btn:hover{
    cursor: pointer;
}
  
.resp-menu-bar{
    width: 25px;
    height: 4px;
    background-color: #56423E;
    margin: 4px auto;
    border-radius: 2px;
}

/* Search box */

.search-box {
  width: 100%;  
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 990;
  background-color: #FEFEFE;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: transform 1s;
  transform: scaleY(1);
  transform-origin: top;
  padding: 0 20px;
  box-sizing:border-box;
}

.search-box input {
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 0 6px;
  font-size: 1.2em; 
  width: 100%;   
  margin-top: 15px;
  margin-bottom: 15px; 
}

.search-box input:focus {  
  border-color: #8BB7CB;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(178, 208, 222, 0.6);	
  outline: 0 none;
}

.search-box-collapsed {
  transform: scaleY(0);
}

.search-box-dropdown {
  margin-bottom: 15px;
  cursor: pointer;
}

.search-box-dropdown .intro-text {
  color: #888;
  font-size: 1rem;
  padding: 0;
}

.highlight {
  background-color: #ffe082;
  padding: 1px;
}

/* Sidebar */
.sidebar{
    width: 0;
    max-width: 450px;    
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
    background-color: #FEFEFE;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar .list-group-item {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1em;
}

.sidebar .list-group-item:hover {
  cursor: pointer;
}

.sidebar .submenu {  
  max-height: 300px;
  transition: max-height 0.7s ease-in;
}

.sidebar .submenu-collapsed {
  max-height: 0;
}

.sidebar .submenu-child {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;  
  border-bottom: 1px solid rgba(0,0,0,.125);
}

/* Parola del giorno homepage */
.box-word-home {
  width: 100%;
  max-width: 280px;  
  height: auto;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 980;
  background-color: #FFF;
  border-radius: 15px;
  border: 1px solid #AAA;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  box-sizing:border-box;
  font-size: 1.1rem;
}

.box-word-home .header {
  background-color: #FF5D55;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;  
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 15px 0;
  color: #FFF;
}

.box-word-home h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.box-word-home .triangle-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #FF5D55;
  margin: 0 auto;
}

.box-word-home .term {
  font-weight: 600;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  text-align: center;
  margin: 5px 0 25px 0;
}

.box-word-home .btn-definition {  
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;  
  background-color: #75A9F9;
  color: #FFF;
  margin-top: 20px;
}

.box-word-home .btn-definition:hover {
  background-color: #1565C0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.5s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Audio player */
.audio-player-box {
  border: 1px solid #e0e0e0;
  border-radius:4px;
  background-color: #FFF;
  margin-left: 10px;
  padding: 0 5px;
  color: #424242;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.audio-player-label{  
  margin-left: 7px;;
}

@media screen and (max-width:992px) {

  .main-container{
    max-width: 100% !important;    
  }  
  
    .home-icon-box {
        padding: 7px;
        width: 100%;
    }

    .box-place-img {
        float:none;
        display: block;
        max-width: 100%;
        margin-right: 0;
    }
    .place-container-img {
        margin: 0 auto;
    }

    .youvideo{
        width: 100%;
        height: 250px;
        max-width: 360px;
    }

    .vocaroo {
        width: 100%;
        height: 50px;
        max-width: 360px;
    }

    .titolo {
        font-size: 1.6em;
    }

    .box-feedback h5 {
        display: block;
    }

    .box-feedback #stars {
        display: block;
        margin: 15px auto;
        text-align: center;
    }

    .box-btn-rate {
        text-align: center;
    }

    .btn-rate{
        width: 100%;
        max-width: 250px;
    }    

    .sidebar {
      height: 100%;
    }

    .search-box {
      height: 100%;
      border: 0px;
    }

}

@media screen and (max-width:640px){
  
    .titolo {
      font-size: 1.5em;
    }
    
    .toolbar .titolo {
      font-size: 1.3em;
      margin-top: 10px;
    }

}

@media screen and (max-width:576px){
  
    .home-icon-box p {
        font-size: 1em;
    }  

    .logo{
        height: 100px;
        width: auto;
    }

}

@media screen and (max-width:440px) {

    .box-feedback h5 {
        font-size: 1.3rem;
    }

    .toolbar .titolo {
      font-size: 1.2em;
      margin-top: 12px;
    }

}