<div class="container">
<h2>Crea contenuto </h2>
<hr/>
 <!--
id, name, intro_text, full_text, image, video, audio, photo_gallery, blocked, tags, gps,
 *              published, category_id, createdAt, updatedAt
-->
  <div class="container">
    
  </div>
  <form enctype="multipart/form-data" action="/place/create/" method="POST">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" name="name" value="">
    </div>
    <div class="form-group">
      <label>Descrizione</label>
      <input type="text" class="form-control" name="intro_text" value="">
    </div>

    <div class="form-group">
      <label>Posizione (coordinate)</label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputLat">Latitudine</label>
        <input type="text" class="form-control" name="lat" value="44.2227">
      </div>
      <div class="form-group col-md-6">
        <label for="inputLat">Longitudine</label>
        <input type="text" class="form-control" name="long" value="12.0407">
      </div>
    </div>

    <div class="form-group">
      <label>Testo</label>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="full_text" rows="8"></textarea>
    </div>
    <div class="form-group">
      <label>Categoria</label>     
      <select name="category_id" class="form-control">
        <option value=""></option>
        <% categories.forEach(element => { %>
            <option value="<%= element.id %>"><%= element.name %></option>
        <% }) %>                
      </select>
    </div>

    <div class="form-group">
      <label>Audio (facoltativo)</label>
      <input type="text" class="form-control" name="audio" value="">
    </div>

    <div class="form-group">
      <label>Video (facoltativo)</label>
      <input type="text" class="form-control" name="video" value="">
    </div>

    <div class="form-group">
      <label>Tags (facoltativo)</label>
      <input type="text" class="form-control" name="tags" value="">
    </div>

    <div class="form-group">
      <label>Immagine</label>
      <input type="file" class="form-control" id="imageUpload" name="image" value="">
    </div>

    <a class="btn btn-primary" href="/place/list">Indietro</a>
    <button class="btn btn-success" type="submit">Ok</button>
  </form>

</div>
