<!-- Template for error message coming from server -->

<div class="error-container">

    <h2><%= error.title %></h2>	
    <div>
        <p><%= error.message %></p>
        <p>Premere il pulsante Home per tornare alla homepage.</p>
        <p>Se il problema persiste contattare il supporto tecnico.</p>
    </div>
    
    <div align="center" style="margin:20px 0">
        <a class="button button-grey" href="/admin">Home</a>
    </div>

</div>