<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

  <div class="container-fluid bg-primary text-white">
    <h1 id="main-title" class="container" >
      <%= __('Portale per CallER') %>
    </h1>
  </div>

  <%- partial('../partials/menu.ejs') %>
    
  <div class='container bg-white'>
    Ciao ciao!
    <hr/>
    Scegli qualcosa dal menu di navigazione per continuare..
  </div>
