<div class='container bg-white'>
  Qui è possibile vedere o modificare i contenuti per la app CallER.<p/>
  Attraverso il menu di navigazione, si possono modificare Categorie, le schede di Contenuti, i Quiz per sbloccare contenuti.<p/>
  Buon lavoro!<p/>
</div>
