<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <style>
  </style>

  <div class="container-fluid bg-primary text-white">
    <h1 id="main-title" class="container" >
      <%= __('Portale per CallER') %>
    </h1>
  </div>
    
  <div class='container bg-white'>
    <h2>Benvenuti al portale di CallER!</h2>
    <hr/>
    Qui è possibile vedere o modificare i contenuti per la app CallER.<p/>
    Attraverso il menu di navigazione, si possono modificare Categorie, le schede di Contenuti, i Quiz per sbloccare contenuti.<p/>
    Buon lavoro!<p/>
  </div>


